parameters:
  paths:
    - wp-content/themes/urbanhealth
  customRulesetUsed: true
  reportUnmatchedIgnoredErrors: false
  excludePaths:
  	- */vendor/*

includes:
    - phpstan-baseline.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-dangerous-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-execution-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-insecure-calls.neon
