parameters:
	ignoreErrors:
		-
			message: "#^is_wp_error\\(int\\<0, max\\>\\) will always evaluate to false\\.$#"
			count: 1
			path: wp-content/themes/urbanhealth/functions/pinpoint-jobs-scraper.php

		-
			message: "#^Action callback returns bool but should not return anything\\.$#"
			count: 1
			path: wp-content/themes/urbanhealth/functions/setup/restrictions.php

		-
			message: "#^Callback expects 1 parameter, \\$accepted_args is set to 6\\.$#"
			count: 2
			path: wp-content/themes/urbanhealth/functions/setup/settings.php
