<div class="{{ class }}" id="js-hero-video">
    <video autoplay muted loop poster="{{ placeholder }}">
        <source src="{{ file }}">
        Sorry, your browser doesn't support embedded videos.
    </video>
    <button class="c-hero-large__video-control" id="js-hero-video-control">
      <span class="c-hero-large__video-control-icon c-hero-large__video-control-icon--playing" id="js-video-control-icon"></span>
    </button>
</div>

<img
    class="c-hero__video-placeholder-image"
    loading="lazy"
    src="{{ placeholder }}"
/>
