<div class="c-listing__layout">


  {# top pagination counts #}
  <div class="c-pagination__counts c-pagination__counts--top">
    Showing {{(paged - 1) * posts_per_page + 1}} to {{posts.found_posts < paged * posts_per_page ? posts.found_posts : paged * posts_per_page}} of {{posts.found_posts}} items
  </div>

  {% for post in posts %}
    {% if post.type == 'job' %}
      {% include 'partials/card-listing-job.twig' %}
    {% else %}
      {% include 'partials/card-listing.twig' %}
    {% endif %}
  {% endfor %}

  {% if posts|length == 0  %}
    {% if fn('is_page_template','jobs.php') %}
    <p class='c-listings__no-results'>We aren’t recruiting for any roles right now, please follow our Twitter and LinkedIn for updates on the latest roles.</p>
    {% else %}
    <p class='c-listings__no-results'>No items match the search, please try again</p>
    {% endif %}
  {% endif %}
</div>

{% if posts.pagination.pages  %}
  <section class="c-pagination">
    {% if fn('is_search') %}
      {% include 'partials/pagination-search-results.twig' with {ajax: ajax} %}
    {% else %}
      {% include 'partials/pagination.twig' with {ajax: ajax} %}
    {% endif %}
  </section>
{% endif %}
