{# Mobile newsletter signup (included at foot of mobile menu) #}

{% if options.include_newsletter_signup and options.newsletter_signup_link|length > 0 %}
  {% set link = options.newsletter_signup_link.url %}
  {% set button_text = options.newsletter_signup_link.title %}
  {% set target = options.newsletter_signup_link.target ?: '_self' %}
  <div class='c-newsletter-signup c-newsletter-signup--mobile o-grid-container'>
    <a href='{{ link }}' class='c-newsletter-signup__button o-cta bg-teal' target='{{ target }}'><span class='c-newsletter-signup__icon icon-mail-alt'></span>{{button_text}}</a>
  </div>
{% endif %}
