{# Presented if password protection is enabled on pages / posts #}

{% extends "base.twig" %}

{% block content %}
  <section class='c-password-protection'>
    <div class='o-grid-container'>
    {{ function('get_the_password_form') }}
    </div>
  </section>
{% endblock %}
