.c-box {
  position: relative;
  padding: 0 1rem;
  background-color: $brand-white;
  box-shadow: $box-shadow;
  color: $brand-black;

  @include breakpoint($break-desktop) {
    padding: 0 2.5rem;
  }
}

.c-box__caption {
  position: relative;
  display: block;
  float: left;
  margin-top: -1.5rem;
  padding: 0.5rem 1.25rem;
}

.c-box__caption-tagline {
  font-family: $font-graphik-medium;
}

.c-box__caption-separator {
  padding: 0 0.5rem;
}

.c-box__content {
  clear: both;
  padding: 1.5rem 0;
}
