.c-stepper {
  position: relative;
  display: inline-flex;
  justify-content: space-between;
  max-width: 100%;
  margin-bottom: 1rem;

  &:before {
    position: absolute;
    top: 16px;
    left: 35px;
    width: calc(100% - 70px);
    height: 6px;
    background-color: $brand-teal;
    content: '';
  }
}

.c-stepper__step {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
  margin-right: 2rem;
  text-align: center;

  &:last-of-type {
    margin-right: 0;
  }
}
.c-stepper__number {
  position: relative;
  z-index: 1;
  display: block;
  width: 40px;
  height: 40px;
  margin-bottom: 0.5rem;
  padding: 0 0.5rem;
  background-color: $brand-light-teal;
  border: 1px solid $brand-teal;
  line-height: 40px;
  text-align: center;
}
.c-stepper__label {
  display: block;
  @extend .smaller;
}
.c-stepper--active {
  .c-stepper__number {
    @extend .bg-teal;
    border: 1px solid $brand-teal;
  }
}

.c-stepper--completed,
.c-stepper--invalid {
  .c-stepper__number:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $brand-teal;
    color: $brand-white;
    font-size: 1.5em;
  }
}
.c-stepper--completed {
  .c-stepper__number:before {
    content: '\2713';
  }
}
.c-stepper--invalid {
  .c-stepper__number:before {
    background-color: #a10000;
    content: '\2715';
  }
}
