{#
  Renders a clear and submit button
  @param checkbox_name
#}
<div class='c-filters__actions'>
  <button type="button" class='c-filters__clear js-filter-clear' data-checkboxes='{{checkbox_name}}'>Clear</button>
  <button class='o-cta o-cta--small bg-teal c-filters__save' type='submit'>Save</button>
</div>