<svg viewbox="0 0 39 26" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
	<title>“</title>
	<g id="{{ fn('uniqid','quote-') }}" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
		<g id="Quote-({{ fn('uniqid','quote-') }})" transform="translate(-179.000000, -120.000000)" fill="currentColor" fill-rule="nonzero">
			<g id="{{ fn('uniqid','quote-') }}" transform="translate(165.000000, 100.000000)">
				<path d="M25.833,46.05 L33.386,23.937 L25.833,20.843 L14.094,41.773 L25.833,46.05 Z M44.852,46.05 L52.405,23.937 L44.852,20.843 L33.113,41.773 L44.852,46.05 Z" id="“"></path>
			</g>
		</g>
	</g>
</svg>
